@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    max-width: 100%;
    --corPrincipal:#cde6f5;
    font-family: "Poppins", sans-serif;
    transition: all 0.6s;
}

body{
    margin: 0;
    padding: 0;


}

header h1{
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
}

header{
    border-bottom: 1px solid gray;
    opacity: 80%;
    --padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 105px;

}
.titulo{
    font-family: "Braah One", sans-serif;
}

.R{
    display: flex;
}

nav ul{
    display: flex;   
    justify-content: space-evenly;
    gap: 40px;
    list-style: none;
    font-size: 18px;
    margin-right: 40px;
    
}

nav ul li{
    transition: 0.070s all;
}

nav ul li:hover{
    transform: scale(1.075);
    transition: 0.070s all;
    cursor: pointer;
}

.login ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.loginButtons{
    display: none;
    transition: 1s all;
}

.loginButtons.mostrar{
    display: block;
    transition: 1s all;
}

.login{
    display: flex;
    align-items: center;
}
.login div button{
    background:none;
    display:block;
    width: 107px;
    height: 31px;
    margin: 1px;
    border-radius: 7px;
}

.login div button:hover{
    background-color: var(--corPrincipal);
}

.usuario{
    margin: 0;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 1s all;
}

.bacground{
    margin: 0;
    
}

.info{
    background-color: black;
    position: relative;
    display: block;
    width: auto;
    height: 100px;
    margin: 0;
}
