*{
    box-sizing: border-box;
    max-width: 100%;
    --corPrincipal:#cde6f5;
}

body{
    margin: 0;
    padding: 0;


}

header h1{
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
}

header{
    border-bottom: 1px solid gray;
    opacity: 80%;
    --padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    position: fixed;
    width: 100%;

}

nav ul{
    display: flex;   
    justify-content: space-evenly;
    gap: 100px;
    list-style: none;
    margin-bottom: 0;
    padding-top: 30px;
}

.login ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.login{
    display: flex;
    align-items: center;
}

.usuario{
    margin: 0;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.bacground{
    margin: 0;
    
}

.info{
    background-color: black;
    position: relative;
    display: block;
    width: auto;
    height: 100px;
    margin: 0;
}
